services:
  app:
    image: quanluonluon/gigafit-api:latest
    
    env_file: .env
    restart: always

    deploy:
      resources:
        limits:
          memory: 300m

    labels:
      - "traefik.enable=true"

      # HTTP router
      - "traefik.http.routers.app.rule=Host(`beta-api.gigafit.space`)"
      - "traefik.http.routers.app.entrypoints=web"

      # Tell traefik the internal port
      - "traefik.http.services.app.loadbalancer.server.port=3000"

      # HTTPS router
      - "traefik.http.routers.app-secure.rule=Host(`beta-api.gigafit.space`)"
      - "traefik.http.routers.app-secure.entrypoints=websecure"
      - "traefik.http.routers.app-secure.tls=true"
      - "traefik.http.routers.app-secure.tls.certresolver=myresolver"

      # Sticky session for WebSocket
      - "traefik.http.services.app.loadbalancer.sticky=true"
      - "traefik.http.services.app.loadbalancer.sticky.cookie.name=giga_socket_affinity"
      - "traefik.http.services.app.loadbalancer.sticky.cookie.secure=true"
      - "traefik.http.services.app.loadbalancer.sticky.cookie.httpOnly=true"

    networks:
      - traefik_net

networks:
  traefik_net:
    external: true
